# =========================
# SERVER / BACKEND
# =========================
PORT=

# =========================
# DATABASE (Postgres)
# =========================
# =========================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# =========================
# REDIS
# =========================
REDIS_URL=r

# =========================
# ELASTICSEARCH
# =========================
ES_URL=
ES_USERNAME=
ES_PASSWORD=
ES_API_KEY=
ELASTIC_PASSWORD=

# =========================
# JWT
# =========================
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_VERIFY_EMAIL_SECRET=

# =========================
# FRONTEND
# =========================
FRONTEND_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_S3_DOMAIN=

# =========================
# AWS S3
# =========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# =========================
# SMTP
# =========================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# =========================
# GOOGLE OAUTH
# =========================
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=
