PORT

# DB CONNECT
DB_HOST
DB_PORT
DB_USER
DB_PASSWORD
DB_NAME

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_VERIFY_EMAIL_SECRET=

FRONTEND_URL=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# Google Account / App password
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

REDIS_URL=

# Redis Cloud
ES_URL=
ES_USERNAME=
ES_PASSWORD=
ES_API_KEY=
